.categories {
	width: 100%;
	padding-left: 140px;
	height: 130px;
	background: white;
	box-shadow: 0 5px 6px 2px #F7F7F7;

	&__ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
  	overflow: hidden;
  	display: flex;
	}

	&__link {
		display: flex;
		flex-direction: column;
		width: 170px;
		height: 120px;
		padding-top: 20px;
		text-decoration: none;
		font-family: 'Stalinist One';
		font-size: 13px;
		text-align: center;
		align-items: center;

		&:hover {
			background: $red;
			height: 140px;
			box-shadow: 5px 0 6px 2px #F7F7F7;
		}

		&:hover .categories__img {
			filter: brightness(0)	invert(1);
		}

		&:hover .categories__name {
			display: block;
			color: white;
		}

		&:active {
			background: #ED143A;
		}
	}

	&__img {
		width: 50px;
	}

	&__name {
		display: none;
	}	
}

@media only screen and (max-width: 984px) {
	.categories {
		padding-left: 50px;
	}
}

@media only screen and (max-width: 900px) {
	.categories {
		padding-left: 0;

		&__link {
			width: 150px;
		}
	}
}

@media only screen and (max-width: 756px) {
	.categories {

		&__link {
			width: 100px;
		}
	}
}

@media only screen and (max-width: 502px) {
	.categories {

		&__link {
			width: 70px;
		}
	}
}

@media only screen and (max-width: 425px) {
	.categories {

		&__name {
			font-size: 9px;
		}

		&__link {
			width: 60px;
		}
	}
}
@media only screen and (max-width: 320px) {
	.categories {
		&__link {
			width: auto;
		}
	}
}