.categories {
	width: 100%;
	padding-left: 140px;
	height: 130px;
	background: white;
	box-shadow: 0 5px 6px 2px #F7F7F7;

	&__ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
  	overflow: hidden;
  	display: flex;
	}

	&__li {
		text-align: center;
	}

	&__link {
		display: block;
		width: 170px;
		height: 120px;
		padding-top: 20px;

		&:hover {
			background: $red;
			height: 140px;
			box-shadow: 5px 0 6px 2px #F7F7F7;
		}
		
		&:active {
			background: #ED143A;
		}
	}
}

@media only screen and (max-width: 984px) {
	.categories {
		padding-left: 50px;
	}
}

@media only screen and (max-width: 900px) {
	.categories {
		padding-left: 0;

		&__link {
			width: 150px;
		}
	}
}

@media only screen and (max-width: 756px) {
	.categories {

		&__link {
			width: 100px;
		}
	}
}

@media only screen and (max-width: 502px) {
	.categories {

		&__link {
			width: 70px;
		}
	}
}

@media only screen and (max-width: 420px) {
	.categories {

		&__link {
			width: 60px;
		}
	}
}
@media only screen and (max-width: 320px) {
	.categories {
		&__link {
			width: auto;
		}

		&__img {
			padding-left: 0;
		}
	}
}