.footer {
	width: 100%;
	display: flex;
	box-shadow: 0 -5px 10px 2px #F7F7F7;

	&__row {
		padding-right: 50px;
		padding-top: 45px;
		display: flex;
		flex-direction: column;

		&_social {
			flex-direction: row;
			padding-top: 10px;
		}

		&_contacts {
			padding-left: 140px;
		}

		&_menu {
			font-weight: bold;
			flex-direction: row;
		}

		&_buttons {
			padding-right: 0;
		}
	}

	&__menu {
		display: block;

		&_right {
			padding-left: 50px;
		}
	}

	&__cell {
		padding-bottom: 10px;
		display: block;

		&_phone {
			padding-top: 20px;
		}

		&_social {
			padding-right: 15px;
		}

		&_year {
			padding-top: 30px;
		}

		&_input {
			display: flex;
			padding-bottom: 15px;
		}

		&_stores {
			padding-top: 30px;
			display: flex;
		}
	}

	&__logo {
		background-image: url('../images/logo.png');
		background-repeat: no-repeat;
		background-origin: content-box;
		display: block;
		width: 210px;
		height: 45px;
	}

	&__phone,
	&__vk,
	&__fb,
	&__instg {
		color: $red;

		&:hover {
		color: #FF3F5F;
		}

		&:active {
		color: $red;
		}
	}

	&__link {
		text-decoration: none;
		display: block;
		color: $black;
	}

	&__input-search {
		color: $lightGray;
		height: 60px;
		width: 180px;

		&:active {
			color: $darkGray;
		}
	}

	&__input-button {
		background: $red;
		border-style: none;
		width: 30px;
		height: 60px;
		color: white;

		&:hover {
		 background: $lightRed;
		}
	}

	&__review-button {
		width: 210px;
		height: 60px;
		background: $red;
		border-style: none;
		color: white;
	}

	&__app-store {
		background: url('../images/mobile_store.png') no-repeat 0 0px;
		background-origin: content-box;
		background-size: 190px;
		width: 91px;
		height: 36px;
	}

	&__google-play {
		margin-left: auto;
		background: url('../images/mobile_store.png') no-repeat -94px 0;
		background-origin: content-box;
		background-size: 190px;
		width: 97px;
		height: 36px;
	}
}

@media only screen and (max-width: 950px) {
	.footer {

		&__row {

			&_contacts {
				padding-left: 20px;
			}
		}
	}
}

@media only screen and (max-width: 800px) {
	.footer {
		display: inline-flex;

		&__row {
			display: block;
			padding-right: 0;
			width: 100%;

			&_social {
				display: flex;
			}

			&_menu {
				display: flex;
			}
		}

		&__menu {

			&_right {
				padding-left: 20px;
			}
		}

		&__cell {

			&_stores {
				display: inline-flex;
			}
		}
	}
}

@media only screen and (max-width: 720px) {
	.footer {
		display: flex;
		flex-direction: column;
		
		&__row {
			text-align: center;
			align-items: center;

			&_social {
				display: block;
			}

			&_contacts {
				order: 3;
			}

			&_menu {
				order: 1;
				text-align: center;
			}

			&_buttons {
				display: inline-block;
				order: 2;
			}
		}

		&__menu {
			&_left,
			&_right {
				width: 50%;
			}
		}

		&__logo {
				margin-left: auto;
				margin-right: auto;
		}

		&__cell {

			&_input {
				display: block;
			}
		}

		&__link {
			&_home {
				align-items: center;
			}
		}
	}
}

@media only screen and (max-width: 620px) {
	.footer {
		
		&__row {

			&_buttons {
				padding-left: 40px;
			}
		}
	}
}