.midnav {
	width: 100%;
  position: relative;
  overflow: hidden;

  &__toggle-menu {

    &_none {
      display: none;
    }

    &_active {
      display: none;
    }
  }

  &__main-img {
    height: 350px;
    background-image: url('../images/pille-riin.jpg');
    background-repeat: no-repeat;
    background-position: left-top;
    background-size: 100%;
    margin: -5px;
  }

  &__navbar {
    display: flex;
  }

  &__ul {
		list-style-type: none;
    display: flex;
		margin: 0;
  	overflow: hidden;
    padding-top: 35px;

    &_left {
      padding-left: 140px;
    }

    &_bars {
      display: none;
    }
	}

	&__li {
		padding-right: 20px;
	}

  &__link {
  	font-size: 14px;
  	text-decoration: none;
		display: block;
		color: $black;

		&:hover {
			color: $red;
		}

    &:active {
      color: $activeRed;
    }
  }

  &__text-block {
  	padding-left: 140px;
  	font-size: 20px;
  	line-height: 30px;
  	font-weight: bold;
  	color: white;
  	position: relative;
  	width: 420px;
  	padding-top: 50px;

  	&_red {
  		font-family: 'Stalinist One';
  		font-size: 18px;
  		color: $red;
  	}
  }

  &__img-sushi {
  	content: '';
  	position: absolute;
  	width: 400px;
  	height: 250px;
  	left: 400px;
  	top: 0;
  	background-image: url('../images/sushi_main.png');
  	background-repeat: no-repeat;
  	background-origin: content-box;
  	background-position: left-top;
  	background-size: 100%;
  }

  &__button {
    cursor: pointer;
  	color: white;
  	background: $red;
  	border-style: none;
  	width: 130px;
  	height: 30px;
  }

  &__button-position {
  	padding-top: 35px;
  }
}

@media only screen and (max-width: 905px) {
  .midnav {

    &__ul {

      &_left {
        padding-left: 20px;
        flex-grow: 1;
      }
    }

    &__text-block {
      padding-left: 20px;
    }

    &__img-sushi {
      left: 250px;
    }  
  }
}

@media only screen and (max-width: 760px) {
  .midnav {

    &__link {
      cursor: pointer;
    }

    &__toggle-menu {
      
      &_none {
        display: none;
      }

      &_active {
        display: flex;
        flex-direction: column;
      }
    }

    &__nav-block {
      display: block;
      padding-bottom: 20px;
      text-align: center;
      align-items: center;
    }

    &__ul {

      &_right {
        display: none;
      }

      &_bars {
        display: block;
        padding-right: 50px;
        cursor: pointer;

        &:hover {
          color: white;
        }
      }
    }
  }
}

@media only screen and (max-width: 667px) {
  .midnav {

    &__img-sushi {
      display: none;
    }
  }
}

@media only screen and (max-width: 508px) {
  .midnav {

    &__main-img {
      height: auto;
    }

    &__button-position {
      padding-bottom: 20px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .midnav {

    &__text-block {
      width: 100%;
    }

    &__text-block {
      padding-left: 20px;
      padding-top: 30px;
    }

    &__button-position {
      padding-top: 10px;
    }
  }
}

@media only screen and (max-width: 320px) {
  .midnav {

    &__ul {
      padding-top: 15px;

      &_left {
        padding-left: 20px;
      }
    }

    &__text-block {
      padding-left: 20px;
      font-size: 15px;

      &_red {
        font-size: 15px;
      }
    }

    &__button-position {
      padding-top: 8px;
    }
  }
}