.topnav {
	margin: 0;
  padding: 0;
	width: 100%;
	background: white;
	padding-left: 140px;
	display: flex;

	&__ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
  	overflow: hidden;
  	display: flex;
  	flex-grow: 1;

  	&_right {
  		padding-right: 90px;
  	}
	}

	&__li {
		padding-right: 20px;
	}

	&__link {
		height: 40px;
		padding-top: 10px;
		text-decoration: none;
		display: block;
		color: $black;

		&:hover,
		&:active {
			color: $red;
		}
	}

	&__phone {
		color: $red;
	}

	&__user {
		color: $red;
	}

	&__active-basket {
		width: 110px;
		text-align: center;
		background: $red;
		color: white;
	}
}

@media only screen and (max-width: 890px) {
	.topnav {
		padding-left: 30px;

		&__ul {

			&_right {
				padding-right: 50px;
			}
		}
	}
}

@media only screen and (max-width: 764px) {
	.topnav {
		padding-left: 20px;

		&__ul {
			flex-direction: column;
		}

		&__li {
			padding-bottom: 5px;
		}
	}
}